<section class="excursion">
  {{!-- <img src="/images/{{painting.filename}}" alt="{{painting.description}}"> --}}
  <div class="excursion-details">
    <h3>{{excursion.name}}</h3>
    <p>{{painting.description}}</p>
    <p>Excursion Date: {{ format_date excursion.date}}</p>
  </div>
</section>