<div class="row welcome">
  <div class="col-auto">
    <h2>{{name}}!</h2>
  </div>
  </div>
  <div class="the-deets">
    <h3>The Deets</h3>
    <p>WHERE:<span id="location-hbr">{{location}}</span></p>
    <p>FROM:{{starting_date}}</p>
    <p>TO:{{ending_date}}</p>
    <p>GEAR:{{gear}}</p>
    </div>

{{!-- <div class = "weather-box"> --}}
   <div class="row m-3" id="city_main"></div>
  <div class=" row m-3" id="city_forecast">
      <header class = "forecast">5 Day Forecast</header>
            <!-- day 1 -->
              <div class="col">
                <div class="card forecast_day">
                  <div class="card-body bg-primary" id="forecast_day1">
                    </div>
                </div>
              </div>
              <!-- day 2 -->
                      <div class="col">
                        <div class="card forecast_day">
                            <div class="card-body bg-primary" id="forecast_day2">
                            </div>
                        </div>
                      </div>

                      <!-- day 3 -->
                      <div class="col">
                        <div class="card forecast_day">
                            <div class="card-body bg-primary" id="forecast_day3">
                            </div>
                        </div>
                      </div>
                    <!-- day 4 -->
                      <div class="col">
                        <div class="card forecast_day">
                            <div class="card-body bg-primary" id="forecast_day4">
                            </div>
                        </div>
                      </div>
                <!-- day 5 -->
                      <div class="col">
                        <div class="card forecast_day">
                            <div class="card-body bg-primary" id="forecast_day5">
                            </div>
                        </div>
                      </div>
</div>
{{!-- </div> --}}


{{!-- FORM --}}

<div class="row mt-4 create-excursion">
  <div class="col-md-6">
    <h3>Add a New Excursion:</h3>

    <form class="form new-excursion-form create-form">
      <div class="form-group">
        <label for="excursion-name">Excursion Name:</label>
        <input class="form-input" type="text" id="excursion-name" name="excursion-name" />
      </div>
      <div class="form-group">
        <label for="start-date">Date:</label>
        <input class="form-input" type="date" id="excursion-date" name="exc-date" />
      </div>
      <div class="form-group">
        <label for="time">Time:</label>
        <input class="form-input" type="time" id="excursion-time" name="exc-time" />
      </div>
      <div class="form-group">
        <label for="exc-desc">Description:</label>
        <textarea class="form-input" id="excursion-description" name="exc-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>

  {{#if excursions.length}}
  <div class="col-md-6 excursion-list">
    <h3>Excursions:</h3>

    {{#each excursions as |excursion|}}
    <div class="row mb-2 the-exc-list">
      <div class="col-md-8">
        <h4><a href="/excursion/{{excursion.id}}">{{excursion.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{excursion.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.9/dayjs.min.js"></script>
{{!-- <script
    src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
    crossorigin="anonymous"></script> --}}

<script src="/js/trip.js"></script>


{{!-- <div class="text-center">
  <h2>{{name}}</h2>
  <p>{{starting_date}}</p>
  <p>{{ending_date}}</p>
  <p>{{gear}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div> --}}
